@import "./components/style.scss";

.container-fluid {
  padding: 0px 1rem;
}

.second_section {
  margin-bottom: 4rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .label {
    color: #8693a6;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .second_section_fortrust {
    display: flex;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-around;

    img {
      max-width: 28px;
      max-height: 28px;
      margin-right: 8px;
    }

    .section_fortrust_item {
      display: flex;
      align-items: center;
    }
  }
}

.section_experience {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section_reusable_component,
.service_section,
.connecting_tools_section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .reusable_component_textSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .reusable_component_title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .reusable_component_subTitle {
    font-size: 15px;
    color: #b9b9b9;
  }
  .reusable_component_listcheck {
    display: flex;
    flex-direction: column;
    margin: 1.3rem 0px;

    div {
      display: flex;
      align-items: center;

      .listcheck_icon {
        margin-right: 10px;
        color: #3487fd;
      }

      p {
        font-size: 14px;
      }
    }
  }
  .reusable_component_bottomNav {
    color: #3487fd;
    font-size: 14px;
    cursor: pointer;

    .icon_arrow {
      margin-left: 6px;
    }
  }

  .reusable_card_bg {
    border-radius: 6px;
    position: relative;
  }
  .card_bg_cashflow {
    background-color: #f4f9ff;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    .card_bg_item {
      background-color: #fff;
      border-radius: 6px;
      padding: 1rem 1.5rem;
      width: 350px;
      position: relative;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    }

    .card_bg_item_floating {
      background-color: #fff;
      border-radius: 6px;
      position: absolute;
      bottom: -22%;
      right: -115px;
      padding: 1rem 1.2rem;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    }

    .card_bg_item_floating_width {
      width: 200px;

      img {
        max-width: 1.2rem;
      }

      #card_bg_item_bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 0.4rem;
        align-items: center;

        p {
          font-size: 18px;
          font-weight: 600;
        }
        span{
          font-size: 13px;
          color: #b9b9b9;
        }
      }
    }
  }
  // systematic collection
  .card_bg_systematic {
    background-color: #f2fdf7;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

    .card_bg_systematic_item {
      background-color: #000000;
      width: 80%;
      border-radius: 20px;
      position: relative;
      padding: 1rem 1.2rem;
    }
    .card_bg_systematic_item_header {
      display: flex;
      color: #fff;
    }
    .card_bg_systematic_item_text {
      display: flex;
      align-items: center;
      color: #fff;
      justify-content: space-between;
      padding: 10px 0px;
      border-bottom: 1px solid #b4b6bc;
    }
    .card_bg_systematic_item_text-last {
      border-bottom: 0px !important;

      p {
        font-size: 18px !important;
      }
    }
    .card_bg_systematic_item_text_left {
      display: flex;
      align-items: center;
      width: 100%;

      p {
        font-size: 12px;
      }
    }

    .plan_subText {
      color: #585858;
      font-size: 11px;
      line-height: 12px;
    }
    .plan_subText_icon {
      margin-right: 12px;
    }
    .input {
      border: 1px solid #414141;
      padding: 12px;
      height: 42px;
      margin-top: 0.65rem;
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: 3px;
      background: transparent;
      color: #585858;
    }
    .align-base {
      flex-direction: column;
      align-items: baseline;
    }
    .card_bg_systematic_floating {
      background-color: #fff;
      border-radius: 6px;
      position: absolute;
      bottom: -48px;
      width: 280px;
      right: -100px;
      padding: 1rem 1.2rem;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    }
    .card_bg_systematic_floating > p {
      font-size: 12px;
      margin-bottom: 0.5rem;
    }
    .card_bg_systematic_middle {
      padding-bottom: 0.75rem;
      border-bottom: 1px solid #eff0f3;

      #button_dueDate {
        background-color: #f2fdf7;
        border-radius: 50px;
        color: #213a5c;
        padding: 10px 14px;
        width: fit-content;
        font-weight: 600;
        margin-top: 1rem;
      }
    }
    #card_bg_systematic_bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 0px;

      p {
        font-size: 14px;
      }
    }
  }
  // streamlined payment
  .card_bg_streamlined {
    background-color: #fef9f5;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    .card_bg_streamlined_item {
      background-color: #ffffff;
      width: 80%;
      border-radius: 20px;
      position: relative;
      padding: 1rem;
    }
    .card_bg_streamlined_item_header {
      margin-bottom: 0.5rem;

      #card_bg_streamlined_item_first {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.1rem;

        p {
          font-weight: 600;
          font-size: 18px;
        }
      }

      #card_bg_streamlined_item_second {
        width: 150px;

        h3 {
          margin-bottom: 3px;
          font-weight: 600;
        }
        div {
          display: flex;
          font-size: 10px;
          color: #a6afbd;
          justify-content: space-between;
        }
      }
    }
    .card_bg_streamlined_floating {
      background-color: #fff;
      border-radius: 6px;
      position: absolute;
      bottom: -100px;
      width: 65%;
      right: -100px;
      padding: 1rem 1.2rem;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);

      .card_bg_streamlined_floating_itemWrap {
        margin-top: 0.54rem;

        .card_bg_streamlined_floating_item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1rem;

          #card_bg_streamlined_floating_item_left {
            display: flex;
            align-items: center;

            #card_bg_streamlined_floating_item_left_text {
              p {
                font-size: 13px;
                font-weight: 600;
                margin-bottom: -7px;
              }
              span {
                font-size: 9px;
                color: #a6afbd;
              }
            }
          }

          .transaction_icon {
            width: 32px;
            height: 32px;
            background-color: #ededed;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;

            img {
              max-width: 18px;
              max-height: 18px;
            }
          }

          .amt {
            font-size: 11px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
.service_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: #0e3d83;
  border-radius: 10px;
  color: #fff;

  .service_left_content {
    width: 50%;
    h2 {
      font-weight: 600;
      font-size: 32px;
      color: #fff;
      margin-bottom: 1.1rem;
    }

    p {
      font-size: 11px;
      letter-spacing: -0.01em;
    }
  }
}
.section_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0px auto;

  h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
  }
  #section_header_subtitle {
    font-size: 14px;
    margin-bottom: 1.4rem;
    color: #a6afbd;
  }
}
// concentric
.concentric_container {
  width: 100%;
  border-bottom: 1px solid #d0d0d0;
  overflow: hidden;
  position: relative;
  height: 350px;
  display: flex;
  justify-content: center;
}

.circle {
  border-radius: 100%;
  position: absolute;
  border: 1px solid #d0d0d0;
}

.first {
  width: 150px;
  height: 150px;
  top: calc(350px - (150px / 2));
}

.circle_rel,
.circle_rel_2 {
  position: relative;
}

.icon_first {
  position: absolute;
  width: 70px;
  height: 70px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -27px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);

  img {
    max-width: 32px;
    max-height: 32px;
  }
}
.icon_second {
  position: absolute;
  width: 54px;
  height: 54px;
  z-index: 10000;
  right: 0px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);

  img {
    max-width: 25px;
    max-height: 25px;
  }
}

.icon_third_1 {
  position: absolute;
  width: 43px;
  height: 43px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 34px;
  left: 21px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 4px 24px rgb(0 0 0 / 8%);

  img {
    max-width: 23px;
    max-height: 23px;
  }
}
.icon_third_2 {
  position: absolute;
  width: 52px;
  height: 52px;
  z-index: 10000;
  right: 121px;
  top: -26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 4px 24px rgb(0 0 0 / 8%);

  img {
    max-width: 32px;
    max-height: 32px;
  }
}
.icon_fourth_1 {
  position: absolute;
  width: 55px;
  height: 55px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -8px;
  left: 105px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);

  img {
    max-width: 25px;
    max-height: 25px;
  }
}
.icon_fourth_2 {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 10000;
  right: 92px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 4px 24px rgb(0 0 0 / 8%);

  img {
    max-width: 23px;
    max-height: 23px;
  }
}

.icon_fifth_1 {
  position: absolute;
  width: 55px;
  height: 55px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -9px;
  top: 151px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);

  img {
    max-width: 32px;
    max-height: 32px;
  }
}
.icon_fifth_2 {
  position: absolute;
  width: 48px;
  height: 48px;
  z-index: 10000;
  right: 31px;
  top: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 4px 24px rgb(0 0 0 / 8%);

  img {
    max-width: 25px;
    max-height: 25px;
  }
}
.second {
  width: 250px;
  height: 250px;
  top: calc(350px - (250px / 2));
}

.third {
  width: 350px;
  height: 350px;
  top: calc(350px - (350px / 2));
}

.fourth {
  width: 450px;
  height: 450px;
  top: calc(350px - (450px / 2));
}

.fifth {
  width: 550px;
  height: 550px;
  top: calc(350px - (550px / 2));
}

.row {
  width: 100%;
}

// people matters
.people_matters_section {
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
  background-color: #1d62ca;

  .people_matters_section_inner {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    margin: 0px auto;
    padding: 2rem 0px;
    color: #fff;

    #title {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 32px;
    }
    .quote_text {
      font-weight: 600;
      font-size: 24px;
    }
  }
  .ceo_continaer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 300px;
    width: 80%;
    margin: 0px auto;

    img {
      height: 100%;
      width: 100%;
    }
  }
  .ceo_img {
    position: relative;
  }
  .ceo_floating_circle {
    position: absolute;
    top: 0px;
    z-index: 1000;
    width: 150px;
    height: 150px;
    // background-color: #1d62ca;
    background-color: transparent;
    border-radius: 100%;
  }
}
// open free account
.openAccount_section {
  width: 80%;
  margin: 0px auto;
  margin-bottom: 4rem;
  border-bottom: 1px solid #d0d0d0;

  .openAccount_section_inner {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    margin: 0px auto;
    margin-bottom: 3rem;
  }
}
// footer
.footer_section {
  width: 80%;
  margin: 0px auto;

  .footer_item_bottom,
  .footer_item_top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #b2bbc8;
    font-size: 12px;
  }
  .footer_item_top {
    margin-bottom: 1rem;

    #footer_item_top_first {
      width: 20%;
    }
    #footer_logo {
      max-width: 78px;
      max-height: 78px;
      margin-bottom: 1rem;
    }

    #footer_item_groupIcons {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      img {
        max-width: 24px;
        margin-right: 0.45rem;
      }
    }
  }
  .footer_item_top_listWrap {
    display: flex;

    ul {
      list-style: none;
      margin-right: 2rem;

      li {
        margin-bottom: 0.65rem;
        color: #3c3f5c;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .footer_item_top_iconWrap {
    display: flex;
    align-items: center;

    .footer_item_top_icon {
      width: 32px;
      height: 32px;
      margin-right: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #d0d0d0;
      color: #182327;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .footer_item_bottom_list {
    list-style: none;
    display: flex;
    align-items: center;

    li {
      padding: 0px 1rem 0px 0px;

      &:last-child {
        padding: 0px;
      }
    }
  }
}

.chart_pie_element {
  width: 100%;
  height: 118px;
  margin-top: 0.35rem;
}

// repsonsive style
@media (max-width: 1024px) {
  .section_reusable_component .card_bg_systematic .card_bg_systematic_item {
    width: 90%;
  }
  .service_container {
    .service_left_content {
      h2 {
        font-size: 28px;
      }
    }
  }

  .section_header {
    h3 {
      font-size: 28px;
    }
    #section_header_subtitle {
      text-align: center;
    }
  }
}
.experience_nav {
  display: flex;
  align-items: center;

  .experience_navItem {
    display: flex;
    align-items: center;
    padding: 8px 2.3rem;
    color: #283d60;

    p {
      font-size: 14px;
    }

    img {
      max-width: 20px;
      max-height: 20px;
      margin-right: 0.5rem;
    }
  }

  .experience_navItem_active {
    background-color: #f5fafe;
  }
}
@media (max-width: 768px) {
  .header_col_invoice .invoice_container {
    width: 85%;
  }
  .page_header_wrapper {
    padding: 1.3rem 3rem 0.5rem 3rem;
  }
  .section_reusable_component,
  .service_section,
  .connecting_tools_section {
    width: 95%;
  }
  .people_matters_section .people_matters_section_inner {
    width: 80%;
  }
}
